@use "./base.scss";

// put your custom CSS here!

.page-title a {
  font-family: "EB Garamond", serif !important; // o qualsiasi altro font
  font-size: 2.2rem;
  font-weight: normal;
  color: #8b0000; // opzionale: cambia anche colore
  text-transform: normal; // opzionale: tutto maiuscolo
}

