@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

body {
  background-color: #999090;
}

.page-title {
  text-align: center;
  width: 100%;

  @media ($mobile) {
    text-align: left;
  }
}

h1, h2, h3 {
  color: #5a5a5a;
}

// prose più ariosa
article {
  p, li {
    line-height: 1.75rem;
  }
}

.sidebar.left {
  background-color: #d4cdc8;
}

.page {
  max-width: 1350px;
  position: relative;
  background-color: var(--light);

& > #quartz-body {
    & .sidebar {
      padding-top: 3rem;
    }

    & .page-header {
      margin-top: 3rem;
    }
  }
}

@media (min-width: 1200px) {
  .page > #quartz-body {
    grid-template-columns: 270px auto 270px;
    column-gap: 2rem;
  }
}
